<footer>
<div class="footer_ft">
    <div class="heading_ft">
      Her hakkı saklıdır. © 2025 - Bora Kitirci | Oğuz Kaan Yalçın
    </div>
    <div class ="content_ft">
        <div class="services_ft">
          <h4>services</h4>
          <p> <a href="#">Lorem, ipsum dolor.</a> </p>
          <p> <a href="#">Lorem, ipsum dolor.</a> </p>
          <p> <a href="#">Lorem, ipsum dolor.</a> </p>
        </div>
      <div class="social-media_ft">
        <h4>Sosyal Medya</h4>
        <p>
          <a href="#"><i class="fab fa-instagram"></i> İnstagram</a>
        </p>
        <p>
          <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
        </p>
        <p>
          <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
        </p>
      </div> 
      <div class="link-yonlendir_ft">
        <h4>Linkler</h4>
        <p><a href="#">Anasayfa</a></p>
        <p><a href="#">Tarifler</a></p>
        <p><a href="#">İletişim</a></p>
        <p><a href="#">Hakkımızda</a></p>
      </div> 
      <div class="details_ft">
        <h4 class="adres">Şirket adresi</h4>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, nostrum.
        </p>
        <h4 class="mobile_ft">Telefon Numarası</h4>
        <p><a href="#">0555 555 55 55</a></p>
      </div>
    </div>
  </div>
</footer>